body {
    background-image: url('./media/background.jpg');
}

.nav-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.nav-bar {
    background-color: rgb(43, 101, 209);
    flex-basis: 50%;   
    padding: 10px;
    
}
.link-container {
    display: flex;
    justify-content: ;
}